html {
    box-sizing: border-box;
    font-family: Familjen Grotesk;
    background-color: #FBF9F9;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
  }


body {
   
    padding: 20px;
    width:100%;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
   
}
a {
    text-decoration: none;
    color:#FF4F03;
}
label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]

 {
    width: 100%;
    height:56px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    width:100%;
    text-align: center;
    padding: 16px 24px;
    background-color:#FF4F03;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color:#ad7056;
}

.error {
    color: red;
    font-size: 0.8rem;
    height: 20px;
    margin-top: 2px;
}
.regContainer{
    max-width: 520px;
    width:100%;
    padding:40px 87px 40px 100px;
 
    background: #FFFFFF;
    border-radius: 40px;

}
.textSignup{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap:32px;
    width:100% ;

    text-align: center;
}
.registerSub{
    width:100% ;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    gap: 8px !important;
}
.register{
    width:100%;
   
    font-size: 36px;
    
}
.subText{
    width:100%;
    color: #645D5D;
    font-size: 14px;
    font-weight: 400;
}
#registrationForm{
    width: 100%;
    text-align: left;
}
.bodylogo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:56px;
}
.success{
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(40, 38, 38, 0.1);
    z-index: 9999;
  }
  .errorMessage {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(40, 38, 38, 0.1);
    z-index: 9999;
  }

